.main-container {
  width: 450px;
  height: 150px;

  display: flex;
  align-items: center;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.all-items-container {
  height: 100%;
  display: flex;
}

.arrow {
  cursor: pointer;
}
