.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-1 {
  background-color: cornflowerblue;
}
.item-2 {
  background-color: coral;
}
.item-3 {
  background-color: darkseagreen;
}
